<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <!-- <td>n°</td> -->
            <td>bast</td>
            <td>modelo</td>            
            <td>año</td>
            <!-- <td>phone</td> -->
            <!-- <td>actions</td> -->
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <!-- <td><%= (i + 1) %></td> -->
                <td><%= data[i].bastidor %></td>
                <td><%= data[i].modelo %></td>
                <td><%= data[i].año %></td>
                <!-- <td><%= data[i].phone %></td> -->
                <td>
                  <a href="/vehiculo/update/<%= data[i].bastidor %>" class="btn btn-info">Edit</a>
                  <a href="/vehiculo/delete/<%= data[i].bastidor %>" class="btn btn-danger">Delete</a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="card-body">

        <form action="/vehiculo/add" method="POST">
          <div class="form-group">
            Bastidor
            <input type="text" name="bastidor" placeholder="Bastidor" class="form-control" autofocus>
          </div>
          <div class="form-group">
            Modelo
            <input type="text" name="modelo" placeholder="Modelo" class="form-control">
          </div>
          <div class="form-group">
            Año
            <input type="text" name="año" placeholder="Año" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">
            anotar vehiculo
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
